<h2>Contact info</h2>

<address>
    Khmelnytskyi National University<br />
    Kam'yanetska str. 112<br />
    Ukraine, 29016<br />
    Rudyi Dmutro<br />
    <abbr title="Phone">P:</abbr>
    +380678576102
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:barada07577@mail.ru">barada07577@mail.ru</a><br />
    <strong>Marketing:</strong> <a href="mailto:dmutro.ryduy@gmail.com">dmutro.ryduy@gmail.com</a>
</address>