@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tracking app</h1>
    <p class="lead">Short description about it.</p>
    @Html.ActionLink("Learn more", "About", "Home", null, new { @class="btn btn-primary"})
</div>

<div class="row">
    <div class="col-md-4">
        <div style="background-image:url('/images/1.jpg');background-size:contain;height:450px;background-repeat:no-repeat"></div>
        <p>
            description for 1st screenshot
        </p>
    </div>
    <div class="col-md-4">
        <h2>Some screenshot</h2>
        <p>
            description for 2nd screenshot
        </p>
    </div>
    <div class="col-md-4">
        <h2>Some screenshot</h2>
        <p>
            description for 3rd screenshot
        </p>
    </div>
</div>