<div class="container" style="background-color:red;border-left:1px solid grey;border-right:1px solid grey;">
    <div class="col-xs-12">
        <img src="" style="width:100px;height:100px;">
        <div class="name"></div>
        <div class="description"></div>
    </div>
</div>